/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

input,
button {
  border: 1px solid grey;
  border-radius: 1.5rem;
  padding: 1em 1.5em;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background-color: lightgray;
  color: black;
}

/* COLORS */

:root {
  /* gradient */
  --hot-gradient: linear-gradient(
    0deg,
    hsla(4, 84%, 49%, 1) 0%,
    hsla(37, 89%, 52%, 1) 100%
  );
  --ok-gradient: linear-gradient(
    0deg,
    rgb(2, 141, 16) 0%,
    rgb(149, 247, 88) 100%
  );

  --green: hsla(126, 55%, 37%, 1);
  --green-light: hsla(85, 73%, 65%, 1);
  --red: hsla(4, 84%, 49%, 1);
  --red-light: hsla(37, 89%, 52%, 1);
  --white: whitesmoke;
  --black: black;
}

/* CSS GLOBAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: whitesmoke;
  text-align: center;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

#app {
  /* width: 100%;
  height: 100vh; */
  display: grid;
  background-color: rgba(43, 42, 42, 0.9);
  gap: 1rem;
  padding: 3rem 4.5rem;
  border-radius: 1.5rem;
}

.title {
  margin-bottom: 1rem;
}

form {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  gap: 1rem;
}

.resultContent {
  padding: 2.5rem 0;
}

/* TYPO */

.resultContent {
  font-size: 2rem;
}

/* backgrounds */

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.bg.green {
  background: var(--ok-gradient);
}

.bg.red {
  background: var(--hot-gradient);
}

/* UI */

.-invisible {
  opacity: 0;
}

.-hidden {
  display: none;
}

/* loader */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid lightgray;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
