/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

input,
button {
  border: 1px solid grey;
  border-radius: 1.5rem;
  padding: 0.75em 1.25em;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button,
.manage-plan-btn {
  cursor: pointer;
}

button:hover,
button:focus-visible {
  text-decoration: underline;
}

/* COLORS */

:root {
  /* gradient */
  --hot-gradient: linear-gradient(180deg, #e62214 0%, #f29e18 100%);
  --ok-gradient: linear-gradient(180deg, #028d10 0%, #95f758 100%);

  --green: hsla(126, 55%, 37%, 1);
  --green-light: hsla(85, 73%, 65%, 1);
  --red: hsla(4, 84%, 49%, 1);
  --red-light: hsla(37, 89%, 52%, 1);
  --white: whitesmoke;
  --black: black;
  --dark: rgba(43, 42, 42, 0.9);
}

/* CSS GLOBAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  line-height: 1.3;
  color: whitesmoke;
  width: 100%;
  position: relative;
  background-color: var(--dark);
}

.container {
  text-align: center;
  display: grid;
  gap: 3rem;
  place-items: center;
  min-height: 100svh;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
}

#app {
  display: grid;
  background-color: var(--dark);
  gap: 3rem;
  padding: 1em 1.5em;
  border-radius: 1.5rem;
}

form {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* buttons */

.check-btn,
.upgrade-btn,
.tip-btn {
  background: var(--hot-gradient);
  border: none;
}

.tip-btn {
  padding: 0.75em 1.25em;
  border-radius: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus-visible,
.manage-plan-btn:hover,
.manage-plan-btn:focus-visible {
  text-decoration: underline;
}

em,
.netlify-identity-button {
  font-style: normal;
  background: var(--hot-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-content {
  font-size: 3rem;
  padding: 1.75rem 0;
  /* text-transform: capitalize; */
}

.warning-message {
  font-size: 1.8rem;
  color: red;
}

.feedback,
.credits {
  color: black;
  background-color: white;
  gap: 1rem;
  padding: 0.75em 1em 0.6em;
  border-radius: 1.5rem;
}

.credits {
  display: flex;
  align-items: center;
}

.feedback {
  display: none;
}

/* backgrounds */

.bg {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.bg.green {
  background: var(--ok-gradient);
}

.bg.red {
  background: var(--hot-gradient);
}

/* loader */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid lightgray;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* layout */

header,
footer {
  font-size: 1.8rem;
}

header {
  width: 100%;
  position: relative;
  line-height: 1;
}

input {
  width: 100%;
  max-width: 24rem;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

.netlify-identity-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
}

.manage-plan-btn {
  margin-top: 2rem;
  right: 0;
  display: block;
  width: fit-content;
}

/* UI */

.-invisible {
  opacity: 0;
}

.-hidden {
  display: none;
}
